logs
*.log
pids
*.pid
*.seed
coverage
.grunt
build/Release
node_modules
*.baseDir.ts
*.baseDir.js
.DS_Store

.gitmodules
.project
.travis.yml
.tslintrc
Gruntfile.js
Gruntfile.coffee
tslint.json
.jshintrc
.jshintignore
.editorconfig
source
grunt
